.card{
    width: 1056px;
    height: 1000px;
    background: #FFF;
}
.add-new-button{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    background: #1976D2;
    padding-right: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex; border: none;
}