<div class="card">
  <div class="title">
    My Letters
    <div class="div-button">
      <button mat-flat-button color="primary" class="add-new-button">
        <div class="button-text" routerLink="letter/new">ADD NEW LETTER</div>
      </button>
    </div>
  </div>

  <div class="letters-container">
    <div *ngIf="isLoading; else lettersContent" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>

    <ng-template #lettersContent>
      <div *ngIf="letters.length === 0" class="no-letters-message">
        No letters available at the moment.
      </div>
      <div  *ngFor="let cardComponent of displayedCardComponents">
        <ways-test-card-letter
          [routerLink]="['/letter', cardComponent.letter.id]"
          [state]="cardComponent.letter"
          [letter]="cardComponent.letter"
        ></ways-test-card-letter>
      </div>
    </ng-template>
  </div>
</div>
<div class="pagination">
  <mat-paginator
    [length]="totalItems"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
