<div class="card">
    <div style="left: 32px; top: 38px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 24px;
     letter-spacing: 0.18px; word-wrap: break-word">My Letters</div>
    <div style="padding-top: 6px; padding-bottom: 6px; padding-left: 8px; padding-right: 6px; left: 865px; top: 32px; position: absolute; background: #1976D2; border-radius: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <button mat-raised-button color="primary" class="add-new-button" style="">
            <span style="color: white; font-size: 14px; font-family: Roboto; font-weight: 500; text-transform: uppercase;
             line-height: 16px; letter-spacing: 1.25px; word-wrap: break-word; ">ADD NEW LETTER</span>
          </button>

    </div>
    <div style="height: 128px; left: 32px; top: 100px; position: absolute; background: white; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20); border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <ways-test-card-letter></ways-test-card-letter>
    </div>

</div>
