.card{
    width: 1056px;
    height: 1000px;
}

.title{
    margin-left: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
    word-wrap: break-word;
}

.div-button{
    height: 36px;
    padding-left: 8px;
    padding-right: 6px;
    margin-left: 718px;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}
.add-new-button{
  padding: 4px 8px 4px 6px;
  justify-content: flex-start;
    display: flex;
    border: none;
}

.button-text{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 1.25px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}





.letters-container {
    width: 1024px;
    margin-left: 32px;
    margin-top: 38px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap
  }

  .letters-container ways-test-card-letter {
    position: relative;
    width: calc((100% - 80px) / 3);
  }


  .pagination{
    margin-top: 10px;
    margin-left: 32px;
    display: inline-flex;
  }

.no-letters-message {
  text-align: center;
  font-size: 18px;
  color: red;
  padding: 20px;
}
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
