$primary: (
  50: var(--md-ref-palette-primary99),
  100: var(--md-ref-palette-primary90),
  200: var(--md-ref-palette-primary80),
  300: var(--md-ref-palette-primary70),
  400: var(--md-ref-palette-primary60),
  500: var(--md-ref-palette-primary50),
  600: var(--md-ref-palette-primary40),
  700: var(--md-ref-palette-primary30),
  800: var(--md-ref-palette-primary20),
  900: var(--md-ref-palette-primary10),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$secondary: (
  50: var(--md-ref-palette-secondary99),
  100: var(--md-ref-palette-secondary90),
  200: var(--md-ref-palette-secondary80),
  300: var(--md-ref-palette-secondary70),
  400: var(--md-ref-palette-secondary60),
  500: var(--md-ref-palette-secondary50),
  600: var(--md-ref-palette-secondary40),
  700: var(--md-ref-palette-secondary30),
  800: var(--md-ref-palette-secondary20),
  900: var(--md-ref-palette-secondary10),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$error: (
  50: var(--md-ref-palette-error99),
  100: var(--md-ref-palette-error90),
  200: var(--md-ref-palette-error80),
  300: var(--md-ref-palette-error70),
  400: var(--md-ref-palette-error60),
  500: var(--md-ref-palette-error50),
  600: var(--md-ref-palette-error40),
  700: var(--md-ref-palette-error30),
  800: var(--md-ref-palette-error20),
  900: var(--md-ref-palette-error10),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);
