.card{
    width: 1056px;
    height: 1000px;
}

.title{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.inputs{
    margin-top: 24px;
    width: 328px;
    height: 72px;
}

.datePicker{
    margin-top: 24px;
}

.dateRangePicker{
    margin-top: 24px;
    margin-bottom: 24px;
}

.list{
    margin-top: 24px;
    margin-bottom: 24px;
}

.button{
    margin-top: 24px;
    width:  76px;
    height: 36px;
}

.button-container{
   display: flex;
   column-gap: 20px;
}
.checkBox{
  display: flex;
}
