<form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
<div class="card" >
  <div class="title">My Form</div>
  <div class="inputs">
    <ways-test-input-ui
      [type]="type"
      [required]="required"
      [placeHolder]="placeHolder"
      [control]="formGroup.controls.inputTextValue"
    ></ways-test-input-ui>
  </div>
  <div class="inputs">
    <ways-test-input-ui
      type="password"
      [required]="true"
      placeHolder="password"
      [control]="formGroup.controls.inputPasswordValue"
    ></ways-test-input-ui>
  </div>
  <div class="inputs">
    <ways-test-input-ui
      type="search"
      [required]="false"
      placeHolder="Search"
      [control]="formGroup.controls.inputSearchValue"
    ></ways-test-input-ui>
  </div>
  <ways-test-divider></ways-test-divider>
  <div class="datePicker">
    <ways-test-datepicker
      dateLabel="chose a date"
        [control]="formGroup.controls.datePickerValue"
    ></ways-test-datepicker>
  </div>
  <ways-test-divider></ways-test-divider>
  <div class="dateRangePicker">
    <ways-test-range-date-picker
      placeHolder="chose a range date"
      [control]="formGroup.controls.rangeDatePickerValue"
    ></ways-test-range-date-picker>
  </div>
  <ways-test-divider></ways-test-divider>
  <div class="list">
    <ways-test-list
      [listInformations]="listInformations"
    ></ways-test-list>
  </div>
  <ways-test-divider></ways-test-divider>
  <div class="list">
    <ways-test-selection-list
      [optionColors]="optionColors"
      [options]="options"
    ></ways-test-selection-list>
  </div>
  <ways-test-divider></ways-test-divider>

  <div class="list">
    <ways-test-action-list [items]="items"></ways-test-action-list>
  </div>
  <ways-test-divider></ways-test-divider>
  <div class="list">
    <ways-test-native-select
      [defaultEmptyValue]="defaultEmptyValue"
      [defaultLabel]="defaultLabel"
      [selectOptions]="selectOptions"
    ></ways-test-native-select>
  </div>
  <ways-test-divider></ways-test-divider>
  <div class="list">
    <ways-test-menu [menuOptions]="menuOptions"></ways-test-menu>
  </div>
  <ways-test-divider></ways-test-divider>
  <div class="list">
    <ways-test-chip
      [optionColors]="chipOptionColors"
      [options]="chipOptions"
    ></ways-test-chip>
  </div>
  <ways-test-divider></ways-test-divider>
  <div class="list">
    <ways-test-expansion-panel
      [content]="content"
      [elementsCount]="elementsCount"
      [panelTitle]="panelTitle"
    ></ways-test-expansion-panel>
  </div>
  <ways-test-divider></ways-test-divider>
  <div class="list">
    <mat-radio-group aria-label="Select an option">
      <ways-test-radio
        [label]="label"
        [color]="color"
        [disabled]="disabled"
        [labelPosition]="labelPosition"
      ></ways-test-radio>

      <ways-test-radio
        label="label 2"
        [color]="color"
        [disabled]="disabled"
        [labelPosition]="labelPosition"
      ></ways-test-radio>

      <ways-test-radio
        label="label 3"
        [color]="color"
        [disabled]="disabled"
        [labelPosition]="labelPosition"
      ></ways-test-radio>

      <ways-test-radio
        label="label 4"
        [color]="color"
        [disabled]="disabled"
        [labelPosition]="labelPosition"
      ></ways-test-radio>
    </mat-radio-group>
  </div>
  <ways-test-divider></ways-test-divider>
  <mat-selection-list>
    <div>
      <ways-test-checkbox
        [label]="checkboxLabel"
        class="list"
        [color]="checkboxColor"
        [disabled]="checkboxDisabled"
        [labelPosition]="checkboxLabelPosition"
        [checked]=true
        [indeterminate]=false
      ></ways-test-checkbox>
    </div>
    <div>
        <ways-test-checkbox
          label="Label Before"
          class="list"
          color="accent"
          [disabled]="checkboxDisabled"
          labelPosition="before"
          [checked]="checked"
          [indeterminate]="indeterminate"
        ></ways-test-checkbox>
      </div>
      <div>
        <ways-test-checkbox
          label="Check me!"
          class="list"
          color="warn"
          [disabled]="checkboxDisabled"
          [labelPosition]="checkboxLabelPosition"
          [checked]=false
          [indeterminate]=false
        ></ways-test-checkbox>
      </div>

  </mat-selection-list>
  <ways-test-divider></ways-test-divider>
  <div class="button-container">
    <div class="button">
      <ways-test-button
        label="Submit"
        [disabled]="false"
        type="submit"
        buttonIcon="done"
        icon="add"
      ></ways-test-button>
    </div>
    <div class="button">
      <ways-test-button
        label="Reset"
        [disabled]="false"
        type="reset"
        buttonIcon="close"
        icon="add"
        color="warn"
      ></ways-test-button>
    </div>
  </div>
  <div style="margin-top: 300px">
    <ways-test-divider></ways-test-divider>
  </div>
</div>
</form>
