.dialog-card{
  width: 560px;
  height: 552px;
  padding-top: 21px;
  gap: 16px;
  box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.2),
  0 9px 46px 0 rgba(0, 0, 0, 0.12),
  0 24px 38px 0 rgba(0, 0, 0, 0.14);
}

.dialog-title-div{
  width: 560px;
  height: 24px;
}

.dialog-title{
  font-weight: 500;
  width: 191px;
  height: 24px;
  margin-left: 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.inside-dialog{
  margin: 0 auto;
  width: 544px;
  height: 422px;
  overflow-y: auto;

}

.close_24px{
  height: 24px;
  width: 24px;
  margin-left: 300px;
  cursor: pointer;
}

.delete_24px{
  color: red;
  height: 24px;
  width: 24px;
  margin-left: 24px;
  margin-top: 16px;
  cursor: pointer;
}
.input-sender-address-dialog{
  width: 464px;
  height: 67px;
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: 2px;
}

.text-icon-div{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 122px;
  height: 36px;
  margin-left: 16px;
  margin-top: -3px;
}


.text-add{
  color: rgba(25, 118, 210, 1);
  width: 71px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
  margin: 0;
}

.text-icon{
  width: 24px;
  height: 24px;
  margin: 0;
  color: rgba(25, 118, 210, 1);
}

.flat-btn{
  width: 84px;
  height: 24px;
}

.divider{
  width: 100%;
  height: 1px;
  margin-top: 9px;
}
.divider-bottom{
  width: 100%;
  height: 1px;
}

.preview-text{
  width: 51px;
  height: 24px;
  margin-top: 15px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.preview-div{
  width: 147px;
  height: 60px;
  margin-top: 16px;
  margin-left: 16px;
}
.p-preview{
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
.bottom-button-div{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 53px;

}
.bottom-buttons{
  display: flex;
  width: 167px;
  height: 36px;
}

.cancel-btn{
  height: 36px;
  width: 76px;
  border-radius: 25px;
  padding:10px 8px 10px 8px ;
}
.cancel-btn-text{
  color: rgba(25, 118, 210, 1);
  width: 60px;
  height: 16px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
}

.apply-btn{
  background-color: rgba(25, 118, 210, 1) !important;
  height: 36px;
  width: 75px;
  border-radius: 10px;
  padding:6px 6px 6px 8px ;
  margin-left: 10px;
}
.apply-btn-text-div{
  width: 61px;
  height: 24px;
}
.apply-btn-text {
  color: white;
  width: 47px;
  height: 16px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
}

