
@use '@angular/material' as mat;
$dark-palette: (
  50: #424242,
  100: #303030,
  200: #212121,
  300: #121212,
  400: #0d0d0d,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$dark-theme-primary: mat.define-palette($dark-palette);
$dark-theme-accent: mat.define-palette($dark-palette);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $dark-theme-accent,
  )
));

.dark-theme{
  @include mat.all-component-themes($dark-theme);
  height: 100%;
  background-color: mat.get-color-from-palette($dark-theme-primary,50);
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  color: mat.get-color-from-palette($dark-theme-primary,A100);

}





