@use '@angular/material' as mat;

@include mat.core();

$custom-palette: (
  50: #eef4ff,
  100: #cfdfff,
  200: #a1bbff,
  300: #7396ff,
  400: #4d7aff,
  500: #2660ff,
  600: #2257e6,
  700: #1c4ecb,
  800: #1744b0,
  900: #0e3390,
  A100: #d2deff,
  A200: #9faaff,
  A400: #6c77ff,
  A700: #5360ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
);

$custom-theme-primary: mat.define-palette($custom-palette);
$custom-theme-accent: mat.define-palette($custom-palette,200);

$custom-light-theme: mat.define-light-theme((
  color: (
    primary: $custom-theme-primary,
    accent: $custom-theme-accent
  )
));
.blue-light-theme{
  @include mat.all-component-colors($custom-light-theme);
  height: 100%;
  background-color: mat.get-color-from-palette($custom-theme-primary, 50);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
