.all{
  width: 1056px;
  height: 1000px;
}
p{
  margin: 0;
}
.slider{
  display: flex;
  align-items: center;
  width: 163px;
  height: 48px;
  margin-top: 26px;
  margin-left: 450px;
}

.general-card {
  border-radius: 0;
  width: 856px;
  height: 801px;
  margin-left: 100px;
  margin-top: 26px;
}

.logo{
  margin-top: 60px;
  margin-left: 659px;
}

.input-sender-address{
  width: 471px;
  margin-top: 28px;
  margin-left: 62px;
  margin-bottom: -10px;
}


.input-subject {
  width: 731px;
  margin-top: 80px;
  margin-left:62px;
}

.text-body {
  width: 731px;
  margin-left:62px;
}

.input-footnote{
  width: 731px;
  height: 72px;
  margin-left:62px;
}
.preview-card{
  width: 857px;
  height: 1161px;
  margin-left: 100px;
  margin-top: 26px;

}
.preview-sender-div{
  margin-top: 39px;
  margin-left: 81px;
}
.preview-sender{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;

}
.preview-add{
  margin-top: 22px;
  margin-left: 81px;
}
.preview-add-line {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.preview-contact-div{
  margin-top: 68px;
  margin-left: 81px;
}
.preview-contact-line {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.preview-subject-div{
  margin-top: 72px;
  margin-left: 81px;
}

.preview-subject-line{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.preview-body-div{
  margin-top: 11px;
  margin-left: 81px;
  max-width: 695px;
}

.preview-body-line{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
